<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <%=stylesheet_link_tag ('style.css')%>
  </head>
  <body>
    <div class="login shadow p-3">
      <h1 class="text-center">Login </h1>
        <form class="needs-validation" action="/sessions" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <div class="form-group was-validated">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="login[email]" required>

          </div>
          <div class="form-group was-validated">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="login[password]" required>

          </div>

          <input type="submit" value="LOGIN" name="submit" class="btn btn-success w-100 submit">
        </form>
        <span class="text-center">Don't have an account?<a href="/users/index"
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign Up</a></span>
    </div>
  </body>
</html>
