<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient Dashboard</title>
  </head>
  <body style="overflow-x:hidden">
    <!--header-->
    <div class="card rounded-0 border border-0 bg-dark text-white">
      <ul class="list-group list-group-horizontal">
        <button type="button" class="btn btn-dark p-2 fw-lighter" style="width: 200px;">NITK Surathkal</button>
        <button type="button" class="btn btn-dark p-2 fw-lighter" style="width: 200px;">About IRIS</button>
        <div style="width: 200px;"></div>
        <div style="width: 200px;"></div>
        <div style="width: 200px;"></div>
        <div style="width: 200px;"></div>
        <button type="button" class="btn btn-dark p-2 fw-lighter" style="width: 200px;">Terms of Services</button>
      </ul>
    </div>
    <!--header end-->
    <!--navbar-->
    <nav class="navbar navbar-expand-lg shadow p-2 mb-4">
      <div class="container-fluid">
        <div class="card">
          <a href="#" class="btn btn-primary p-2 border-0">I R I S</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown p-1">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Insititute
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Academics</a></li>
                <li><a class="dropdown-item" href="#">Campus</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown p-1">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Academics
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown p-1">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Campus
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <% if auth_user_signed_in? %>
          <%= link_to "Logout", destroy_auth_user_session_path, 'data-turbo-method': :delete ,class:"btn btn-primary mx-2"%>

          <%else%>
            <%=link_to 'Sign In', new_auth_user_session_path ,class:"btn btn-primary mx-2"%>
          <%end%>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item m-2">
              <div class="rounded-circle">
                <%= image_tag "nitk.jpg", height:"50px",width:"50px",class:"rounded-circle shadow" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--navbar end-->
    <!--side bar-->
    <nav class="navbar navbar-expand-lg border-bottom p-2 mb-3">
      <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Sidebar
      </a>
    </nav>

    <div class="offcanvas offcanvas-start p-2" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--sidebar end-->
    <!--main-->
    <div class="p-2">
      <div class="row mb-3">
        <div class="col-sm-3 d-flex justify-content-around">
          <div class="card border mb-3">
            <div class="card-header">Card Number</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-around">
          <div class="card border mb-3">
            <div class="card-header">Registration Number</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-around">
          <div class="card border mb-3">
            <div class="card-header">Appointments</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-around">
          <div class="card border mb-3">
            <div class="card-header">Course</div>
            <div class="card-body text-secondary">
              <h5 class="card-title text-center">MCA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center mb-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Upcoming Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Past Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link href="#"">Medical Records</a>
            </li>
          </ul>
        </div>
        <div class="card-body p-2 mx-auto">
          <ul class="list-group list-group-horizontal mb-3 p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
          <ul class="list-group list-group-horizontal-sm mb-3 p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
          <ul class="list-group list-group-horizontal-md mb-3 p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
          <ul class="list-group list-group-horizontal-lg mb-3 p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
          <ul class="list-group list-group-horizontal-xl mb-3  p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
          <ul class="list-group list-group-horizontal-xxl mb-3  p-2">
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content.</li>
          </ul>
        </div>
      </div>
    </div>
    <!--main end-->
    <!--footer-->
    <div class="card-footer p-5 bg-primary text-center">
      Card footer
    </div>
    <!--footer-->
  </body>
</html>
