*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.login{
  width:450px;
  height: min-content;
  padding: 15px;
  border-radius: 10px;
  background: white;
}
.login h1{
  font-size: 20px;
  margin-bottom: 20px;
}
.login form{
  font-size: 15px;
}
.login form .form-group{
  margin-bottom: 12px;
}
